<?xml version="1.0"?>
<model>
  <name>x500_solar_fly</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Rodrigo Freire Bastos</name>
    <email>digofbastos@gmail.com</email>
  </author>
  <description>An x500 with a simple one mono cam facing down and other facing forward to colision avoidance.</description>
</model>
